.bg-navnar-theme{
    background-color: rgba(0, 0, 0, 0.623);
}

.navbar-light .navbar-brand{
    color: rgb(146, 146, 146);
    transition: 0.5s;
}

.navbar-light .navbar-brand:hover{
    color: rgb(255, 0, 0);
    animation: Zoom 0.3s infinite;
}

.navbar-light .navbar-nav .nav-link{
    color: rgb(146, 146, 146);
    transition: 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(253, 253, 253);
    animation: Zoom 0.3s forwards;
}

.navbar-light .navbar-nav .nav-link:focus{
    color: rgb(253, 253, 253);
}

@keyframes Zoom {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(5deg);
    }
}