@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Kanit:wght@200&display=swap');

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    max-width: 980px;
}

body{
    font-family: 'Gemunu Libre','Kanit', sans-serif;
}

.wrapper {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    color: rgb(255, 255, 255);
    width: 29.5ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid rgb(208, 34, 243);
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(2, 2, 2, 0.603);
    padding: 10px;
    color: white;
    text-align: center;
 }

 .text-muted{
color: rgb(204, 204, 204)!important;
 }

 body::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #3b3b3b;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}